# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby
Gemfile.lock
vendor/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
